/* Footer
***************/
#footer {
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }
  .footer-container.container-flex {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  section.widget.widget_search {
    align-self: center;
  }
}